<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\MaintenanceMode">
        <plugin name="amqp_maintenance_mode" disabled="true" type="Magento\MessageQueue\Model\Plugin\ResourceModel\Lock"/>
        <plugin name="amqp_maintenance_mode_connection_default" type="ProgrammerCat\MessageQueue\Plugin\ResourceModel\Lock"/>
    </type>
    <type name="ProgrammerCat\MessageQueue\Plugin\ResourceModel\Lock">
        <arguments>
            <argument name="writer" xsi:type="object">RefreshLock</argument>
        </arguments>
    </type>
</config>
